<div style="margin: 15px 15px 15px 15px">
  <label>Enter the current password</label>
  <input
    type="password"
    #inputpassword
    (keyup)="getPassword(inputpassword.value)"
  />
  <div class="footer">
    <span style="margin-right: 10px"
      ><Button
        mat-button
        class="btn btn-primary btn-sm"
        id="btn_animate"
        (click)="confirm()"
        >Confirm</Button
      ></span
    >
    <span style="margin-right: 40px"
      ><Button
        mat-button
        mat-dialog-close
        class="btn btn-primary btn-sm"
        id="btn_animate"
        (click)="cancel()"
        >Cancel</Button
      ></span
    >
  </div>
</div>
