<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 mx-auto">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Department Data</h4>
            <p class="card-category">Here is a subtitle for this departments</p>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>ID</th>
                  <th>Department Name</th>
                  <th>Team Name</th>
                </thead>
                <tbody>
                  <tr *ngFor="let departments of department">
                    <td>{{ departments.departmentId }}</td>
                    <td style="color: #3c4858; font-weight: bolder">
                      {{ departments.departmentName }}
                    </td>

                    <td>
                      <tr *ngFor="let teams of team">
                        <div
                          *ngIf="
                            departments.departmentId === teams.departmentId
                          "
                        >
                          <td>{{ teams.teamName }}</td>
                        </div>
                      </tr>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
