<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Employee Data Table</h4>
            <p class="card-category">
              Here is a subtitle for this employe data table
            </p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>ID</th>
                  <th>Name</th>
                  <th>Team</th>
                  <th>Position</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <tr *ngFor="let employee of employees">
                    <td>{{ employee.employeeId }}</td>
                    <td>{{ employee.employeeName }}</td>

                    <td class="text-primary">
                      <tr *ngFor="let teams of team">
                        <div *ngIf="employee.team === teams.teamId">
                          <td>{{ teams.teamName }}</td>
                        </div>
                      </tr>
                    </td>

                    <td>{{ employee.position }}</td>
                    <td>
                      <button class="btn btn-primary">Update</button>
                      <button
                        type="button"
                        class="btn btn-dark"
                        style="margin-left: 10px"
                      >
                        Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
