<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group pt-3">
          <div class="input-field">
            <input
              formControlName=""
              type="text"
              placeholder="Search..."
              (keyup)="searchFilter($event)"
            />
            <span class="fa fa-search p-2"> </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-10 mx-auto">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Employee Data Table</h4>
            <p class="card-category">
              Here is a subtitle for this employe data table
            </p>
          </div>
          <div class="card-body">
            <div class="table-responsive table-striped">
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
                  <ng-container matColumnDef="ID">
                    <th mat-header-cell *matHeaderCellDef class="text-primary">
                      ID
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.employeeId }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef class="text-primary">
                      Name
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.employeeName }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Department(Team)">
                    <th mat-header-cell *matHeaderCellDef class="text-primary">
                      Department(Team)
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <!-- <div *ngFor="let teams of team">
                        <div *ngIf="element.team === teams.teamId">
                          <td>{{ teams.teamName }}</td>
                        </div>
                      </div> -->
                      {{ element.departmentName }} &nbsp; ({{
                        element.teamName
                      }})
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Position">
                    <th mat-header-cell *matHeaderCellDef class="text-primary">
                      Position
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.position }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef class="text-primary">
                      Action
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <button
                        type="button"
                        (click)="deleteEmployee(element.employeeId)"
                        class="btn btn-danger btn-sm"
                      >
                        Delete
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                  ></tr>
                </table>

                <mat-paginator
                  #paginator
                  [pageSizeOptions]="[5, 8, 10]"
                  showFirstLastButtons
                ></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
