<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Change your password</h4>
            <p class="card-category">
              Here is a subtitle for this change password
            </p>
          </div>
          <div class="card-body">
            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="oldPassword" class="col-form-label"
                      >Old Password</label
                    >
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <div
                      class="input-field"
                      style="
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        padding-right: 10px;
                      "
                    >
                      <input
                        [type]="type"
                        style="border: none"
                        class="form-control"
                        [(ngModel)]="changePassword.oldPassword"
                        formControlName="oldPassword"
                        id="oldPassword"
                        placeholder="Old Password"
                        onkeyup="checkin();"
                      />
                      <span
                        (click)="hideShowPass()"
                        class="fa {{ eyeIcon }}"
                      ></span>
                    </div>
                  </div>
                </div>

                <small
                  *ngIf="
                    changePasswordForm.controls['oldPassword'].dirty &&
                    changePasswordForm.hasError('required', 'oldPassword')
                  "
                  class="text-danger"
                  >*Password is required.</small
                >
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="password" class="col-form-label"
                      >New Password</label
                    >
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <div
                      class="input-field"
                      style="
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        padding-right: 10px;
                      "
                    >
                      <input
                        [type]="type"
                        style="border: none"
                        class="form-control"
                        [(ngModel)]="changePassword.newPassword"
                        formControlName="password"
                        id="password"
                        placeholder="New Password"
                        onkeyup="checkin();"
                      />
                      <span
                        (click)="hideShowPass()"
                        class="fa {{ eyeIcon }}"
                      ></span>
                    </div>
                  </div>
                </div>

                <small
                  *ngIf="
                    changePasswordForm.controls['password'].dirty &&
                    changePasswordForm.hasError('required', 'password')
                  "
                  class="text-danger"
                  >*Password is required.</small
                >

                <small
                  *ngIf="
                    changePasswordForm.controls['password'].dirty &&
                    changePasswordForm.hasError('minlength', 'password')
                  "
                  class="text-danger"
                  >*Password must be at least 8 digits.</small
                >

                <small
                  *ngIf="
                    changePasswordForm.controls['password'].dirty &&
                    changePasswordForm.hasError('pattern', 'password')
                  "
                  class="text-danger"
                  >*Password must contain at least 1 capital letter and 1 small
                  letter and 1 digit.</small
                >
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="coPassword" class="col-form-label"
                      >Confirm Password</label
                    >
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <div
                      class="input-field"
                      style="
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        padding-right: 10px;
                      "
                    >
                      <input
                        [type]="type"
                        style="border: none"
                        class="form-control"
                        [(ngModel)]="changePassword.coPassword"
                        formControlName="coPassword"
                        id="coPassword"
                        placeholder="Confirm Password"
                        onkeyup="checkin();"
                      />
                      <span
                        (click)="hideShowPass()"
                        class="fa {{ eyeIcon }}"
                      ></span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <button
                      type="reset"
                      class="btn btn-fill btn-dark btn-block mt-4"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <button
                      type="submit"
                      class="btn btn-fill btn-primary btn-block mt-4"
                    >
                      Save
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
