<div class="logo">
  <a href="#" class="simple-text">
    <div class="logo-img">
      <img src="/assets/img/DAT.png" />
    </div>
    Radiance
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a class="nav-link" [routerLink]="[menuItem.path]">
        <i class="material-icons">{{ menuItem.icon }}</i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>

    <!-- <li class="dropdown nav-item">
      <a class="dropdown-toggle" data-toggle="dropdown">
        <i class="settings"></i>
        <p>
          Settings
        </p>
      </a>
      <ul class="dropdown-menu" style="background: transparent">
        <li>
          <a [routerLink]="['/user-profile']"
            ><i class="person"></i>User Profile</a
          >
        </li>
        <li>
          <a [routerLink]="['/changePassword']"
            ><i class="lock"></i>Change Password</a
          >
        </li>
        <li>
          <a [routerLink]="['/login']"><i class="power"></i>Logout</a>
        </li>
      </ul>
    </li> -->
  </ul>
</div>
