<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 mx-auto">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Home Page</h4>
            <p class="card-category">Here is a subtitle for this home page</p>
          </div>
          <div class="card-body" style="display: flex">
            <div class="col-md-5">
              <div class="row">
                <img
                  src="../../assets/img/office.jpg"
                  alt="calendar-img"
                  class="img-responsive"
                  style="max-width: 100%; height: auto; margin-top: 25%"
                />
              </div>
            </div>
            <div class="col-md-7">
              <full-calendar [options]="calendarOptions"></full-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- extra -->
<div>
  <div class="col-md-6" style="display: none">
    <form [formGroup]="testForm" (ngSubmit)="onSubmit()">
      <div class="col-md-4">
        <div class="form-group">
          <select class="form-control" id="" name="">
            <option disabled selected>Select department</option>
            <option
              *ngFor="let departments of department"
              value="{{ departments.departmentId }}"
            >
              {{ departments.departmentName }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <!-- <full-calendar [options]="calendarOptions">
  <ng-template #eventContent let-arg>
    <b>{{arg.timeText}}</b>
    <i>{{arg.event.title}}</i>
  </ng-template>
</full-calendar> -->
</div>
